@media (max-width: 1200px) {
  .book-list,
  .wishlist-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: flex-center;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
  }

  .nav-logo a {
    font-size: 1rem;
  }

  .nav-links ul {
    flex-direction: row;
    gap: 0.1rem;
  }

  .filters {
    flex-direction: column;
  }

  #search-bar,
  #genre-filter {
    width: 100%;
  }

  .book-list,
  .wishlist-grid {
    grid-template-columns: 1fr;
  }

  .book-details-container {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .book-detail-card .book-detail-info {
    padding: 0.5rem;
    width: 100%;
    max-width: 100%;
  }
  .book-actions {
    flex-direction: column;
    gap: 0.5rem;
  }

  .book-actions button {
    width: 100%;
  }

  .view-details-btn {
    width: 100%;
  }

  .book-detail-card {
    padding: 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
  }
}
